---
layout: news
title: Shakespeare in the News
---

{% for article in site.news %}
  {% if article.title != nil %}
    {% if article.title != "" %}
      {% unless forloop.first %}
      <div class="row">
        <div class="col s12 m10 offset-m1">
          <div class="divider"></div>
        </div>
      </div>
      {% endunless %}

      <div class="row">
        <div class="col s12 m10 offset-m1">
          <article>
            <header>
              <h1><a href="{{article.link}}">{{article.title}}</a></h1>
              {% if article.subtitle != nil %}
                {% if article.subtitle != "" %}
                  <div class="article-subtitle">{{article.subtitle}}</div>
                {% endif %}
              {% endif %}
            </header>
            <div class="article-copy">
              {{article.copy}}
            </div>
            {% if article.published_date != nil %}
              {% if article.published_date != "" %}
                <div class="published">Published on {{article.published_date}}</div>
              {% endif %}
            {% endif %}
          </article>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
