* {
  box-sizing: border-box;
}

body {
  font-family: "Adobe Garamond Pro", Garamond, serif;
  margin:0;
  padding:0;
  background-color: #ede7da;
}

a:link,
h1 {
  color: rgb(160,40,90);
  color: rgba(160,40,90, .8);
}

a:visited {
  color: rgb(160,40,90);
  color: rgba(160,40,90,.8);
}

a:hover,
a:focus {
  color: #333;
}

a:active {
  color: #111;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#uva-library-link {
  display:block;
  margin-left:auto;
  margin-right: auto;
  width: 250px;
  margin-bottom: 20px;
}

#uva-library-link path {
  fill: rgba(0,0,0,0.5);
}

svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

#banner,
#main {
  padding-left: 20px;
  padding-right: 20px;
}

#banner {
  padding-top: 80px;
  min-height: 300px;
  margin-bottom: 80px;
  background: url("images/border.png") top left repeat-x;
}

#banner h1 {
  margin-top:0;
}

#banner h1,
#banner .subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(160,40,90);
  color: rgba(160,40,90, .9);
  font-weight: bold;
  font-size: 20px;
}

#banner img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  text-align:center;
}

#logotype,
#will {
  margin-bottom: 50px;
}

.audible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.audible.focusable:active,
.audible.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

#main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align:justify;
}

#main section {
  margin-bottom: 80px;
}

#main section h2 {
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(100,100,100);
  color: rgba(0,0,0,.5);
  font-weight: bold;
  font-size: 16px;

}

#location-and-hours {
  text-align: center;
}


.social-media {
  text-align:center;
}

.social-media i {
  width: 40px;
  height: 40px;
  background-color: rgb(160,40,90);
  background-color: rgba(160,40,90, .9);
  color: white;
  text-align:center;
  font-size: 20px;
  line-height: 40px;
  border-radius: 20px;
}

.social-media a:hover i {
  background-color: rgb(100,100,100);
}

@media screen and (min-width: 600px) {

#main #details {
  clear:both;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  float:none;
}

}
