<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="/scripts/materialize.min.js"></script>
<script src="/scripts/picker.date.js"></script>
<script src="/scripts/request-tour.js"></script>
<script src="/scripts/lightgallery-all.min.js"></script>
<script src="/scripts/image-gallery.js"></script>

<footer class="site-footer">

  <!-- div class="wrapper" -->

  <div class="footer-row row">
    <div class="col s12 m4">
      <h2 class="footer-heading">Share on Social Media</h2>
      <p class="social-media">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//shakespeare.lib.virginia.edu" id="facebook"><i class="fa fa-facebook"></i><span class="audible">Facebook</span></a>
        <a href="http://twitter.com/share?url=http%3A//shakespeare.lib.virginia.edu/" id="twitter"><i class="fa fa-twitter"></i><span class="audible">Twitter</span></a>
        <a href="https://plus.google.com/share?url=http%3A//shakespeare.lib.virginia.edu/" id="googleplus"><i class="fa fa-google-plus"></i><span class="audible">Tumblr</span></a>
      </p>
    </div>

    <div class="col s12 m4 footer-links">
      <h2 class="footer-heading">Related Sites</h2>
      <p><a href="http://vashakespeare.org/events/">VA Shakespeare Initiative</a></p>
      <p><a href="http://virginiahumanities.org/events/">VFH Events Calendar</a></p>
      <p><a href="http://www.folger.edu">Folger Library</a></p>
    </div>

    <div class="col s12 m4 footer-links">
      <h2 class="footer-heading">Media</h2>
      <p><a href="SBTB_pr.docx">Download Press Kit</a></p>
      <p><a href="news.html">Shakespeare in the News</a></p>
    </div>
  </div>

  <!-- /div-->

</footer>
