<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <h2 class="footer-heading">Share on Social Media</h2>
        <p class="social-media">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//shakespeare.lib.virginia.edu" id="facebook"><i class="fa fa-facebook"></i><span class="audible">Facebook</span></a>
          <a href="http://twitter.com/share?url=http%3A//shakespeare.lib.virginia.edu/" id="twitter"><i class="fa fa-twitter"></i><span class="audible">Twitter</span></a>
          <a href="https://plus.google.com/share?url=http%3A//shakespeare.lib.virginia.edu/" id="googleplus"><i class="fa fa-google-plus"></i><span class="audible">Tumblr</span></a>
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <h2 class="footer-heading">Related Sites</h2>
        <p><a href="">VA Shakespeare Initiative</a></p>
        <p><a href="">VFH Events Calendar</a></p>
        <p><a href="">Folger Library</a></p>
      </div>

      <div class="footer-col  footer-col-3">
        <h2 class="footer-heading">Media</h2>
        <p><a href="">Download Press Kit</a></p>
        <p><a href="">UVA Library News</a></p>
        <p><a href="">Notes from Under Ground</a></p>
        <p><a href="">UVA Today</a></p>
      </div>
    </div>

  </div>

</footer>
