/**
 * Site header
 */
.top-bar {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #A5275C;
}

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-image: url('/images/footer-bg.png') top left repeat-x;
    height: 398px;
}

.footer-heading {
    font-size: 24px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 18px;
    color: $white-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(36% - (#{$spacing-unit} / 2));
    width:         calc(36% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(32% - (#{$spacing-unit} / 2));
    width:         calc(32% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(32% - (#{$spacing-unit} / 2));
    width:         calc(32% - (#{$spacing-unit} / 2));
}

.social-media {
  text-align:center;
}

.social-media i {
  width: 42px;
  height: 42px;
  background-color: rgb(160,40,90);
  background-color: rgba(160,40,90, .9);
  color: white;
  text-align:center;
  font-size: 20px;
  line-height: 42px;
  border-radius: 20px;
}

.social-media a:hover i {
  background-color: rgb(100,100,100);
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.right {
  float: right;
}

.left {
  float: left;
}

#banner,
#main {
  padding-left: 20px;
  padding-right: 20px;
}

#banner {
  padding-top: 80px;
  min-height: 300px;
  margin-bottom: 80px;
  background: url("images/border.png") top left repeat-x;
}

#banner h1 {
  margin-top:0;
}

#banner h1,
#banner .subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(160,40,90);
  color: rgba(160,40,90, .9);
  font-weight: bold;
  font-size: 20px;
}

#banner img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  text-align:center;
}

#logotype,
#will {
  margin-bottom: 50px;
}

.audible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.audible.focusable:active,
.audible.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
