---
layout: default
title: Shakespeare News
---

<header class="news">
  <div class="row">
    <div class="col s6 m2 offset-m1 home-button">
      <a class="exhibit-link" href="index.html"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to Home</a>
    </div>
    <div class="col s6 m2">
      <img class="logotype" src="/images/logo.png" alt="Shakespeare By The Book logo">
      <h1 class="audible">Shakespeare by the Book</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m2 offset-m1">
      <p class="subtitle">News</p>
    </div>
  </div>
</header>

<div class="news-articles">
  {{ content }}
</div>
